{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid mt-5" style="margin-bottom:60px;margin-left:250px;">
    <div class="row">
<div class="col-sm-4">
  <img src="{{p.images.url}}" class="card-img-top" alt="..." height="400px" width="140px"></div>
  <div class="col-sm-5 mx-5">

    <h4 >{{p.name}}</h4>
    <h5>{{p.price}}</h5>
      <p style="text-indent:20px;line-height:2;text-align:justify">{{p.desc}}</p>
      {% if user.is_superuser == False %}

      {% if p.stock <= 0 %}

      <h4>OUT OF STOCK</h4>

      {% else %}
    <a href="{% url 'cart:addtocart' p.name %}" class="btn btn-primary mt-5" >ADD TO CART</a>
      {% endif %}

      {% else %}

       {% if p.stock <= 0 %}
      <h4>OUT OF STOCK</h4>

    <a href="{% url 'admin:index' %}" class="btn btn-primary mt-5" >ADD STOCK</a>
    {% else %}
    <h4>PRODUCT IN STOCK</h4>

    <a href="{% url 'admin:index' %}" class="btn btn-primary mt-5" >ADD STOCK</a>
      {% endif %}

{% endif %}
  </div>

 </div>
    </div>



{% endblock %}